$base-text:      #99A4AE;
$hovered-border: #99A4AE;
$base-border:    #99A4AE;


$primary:   #2980B9;
$secondary: #99A4AE;
$white:       white;
$success:     #2ECC71;
$info:        #2D5098;
$warning:     #F9BF3B;
$error:       #B92929;
$font-size: 13px;
$font-family: "Open Sans Regular";

//btn
$button-bg: $success;
$button-text: white;
$button-focused-shadow: none;

//
$c5-blue-1:   #004F9E;
$green-1:     #2ECC71;
$orange-2:    #FF5722;
$orange-3:    #ff7549;

$series-a:        $c5-blue-1;
$series-b:        $primary;
$series-c:        $success;
$series-d:        $warning;
$series-e:        $orange-3;
$series-f:        $orange-2;